<div id="<%= dom_id flight %>">
  <p>
    <strong>Dep airport:</strong>
    <%= flight.dep_airport %>
  </p>

  <p>
    <strong>Arr airport:</strong>
    <%= flight.arr_airport %>
  </p>

  <p>
    <strong>Dep time:</strong>
    <%= flight.dep_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

</div>
