= "Congratulations #{booking.passengers.first.passenger_name}, your flight has now been booked"
%br
%h3 Flight Details
= "Booking ID: #{booking.id}"
%br
= "Flight ID: #{booking.flight_id}"
%br
= "Departure Airport: #{booking.flight.departure_airport.airport_code}"
%br
= "Arrival Airport: #{booking.flight.arrival_airport.airport_code}"
%br
= "Flight Time: #{booking.flight.flight_time}"
%br
= "Flight Duration: #{booking.flight.flight_duration} minutes"
%br
%br
%h3 Passenger Details
= "There are #{booking.passengers.count} passengers"
%br
- booking.passengers.each do |passenger|
    %br
    = "Passenger ID: #{passenger.id}"
    %br
    = "Passenger Name: #{passenger.passenger_name}"
    %br
    = "Passenger Email: #{passenger.passenger_email}"
    %br
    %br
%h1 Enjoy your Flight!
