%div{:id => "#{dom_id booking}"}

  %p
    %strong Booking ID
    = booking.id
  %p
    %strong Flight ID:
    = booking.flight_id
  %p
    %strong Passenger Name:
    = booking.passenger_name
  %p
    %strong Passengr email:
    = booking.passenger_email
  %p
    %strong Number of passengers:
    = booking.no_passenger
  %br




