%br
%h2 Here are Your Selected Flight Details!
%br
= "Flight ID: #{Flight.find(params[:booking][:id]).id}"
%br
%br
= "Departure Airport: #{Flight.find(params[:booking][:id]).departure_airport.airport_code}"
%br
%br
= "Arrival Airport: #{Flight.find(params[:booking][:id]).arrival_airport.airport_code}"
%br
%br
= "Departure Time: #{Flight.find(params[:booking][:id]).flight_time}"
%br
%br
= "Duration: #{Flight.find(params[:booking][:id]).flight_duration} minutes"
%br
%br
%h2 Enter Passenger Information
%br
= "Number of Passengers: #{params[:passenger_number]}"
%br
%br

= form_for @booking do |f|
    = f.hidden_field(:flight_id, value: @flight_id)
    = f.fields_for :passengers do |passenger_form|    
        = passenger_form.label "Passenger Name: "
        = passenger_form.text_field :passenger_name
        %br
        = passenger_form.label "Passenger Email: "
        = passenger_form.text_field :passenger_email
        %br
        %br
    = f.submit






