%h1 Enter Booking Details
= form_with(model: @booking) do |form|
  = form.label :flight_id, "Enter Flight ID:", style: "display: block"
  = form.number_field :flight_id
  %br/
  %br/
  = form.label :passenger_name, "Enter Your Name:", style: "display: block"
  = form.text_field :passenger_name
  %br/
  %br/
  = form.label :passenger_email, "Enter Your Email", style: "display: block"
  = form.text_field :passenger_email
  %br/
  %br/
  = form.label :no_passenger, "Enter Number of Passengers:", style: "display: block"
  = form.number_field :no_passenger
  %br/
  %br/
  = form.submit
  %br/
  %br/
